<!DOCTYPE html>
<html>
<head>
	<% include ../partials/libs %>
	
	<link rel="stylesheet" type="text/css" href="css/stylesheets/style.css">
	<script type="text/javascript"  src="/js/game.js"></script>
	<title>LD32</title>
</head>
<body>

	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">
					<h3 class="masthead-brand">LD33</h3>
						<nav>
							<ul class="nav masthead-nav">
								<li class=""><a href="/">Home</a></li>	
								<li class=""><a id="startGame">Game</a></li>	
								<li class=""><button class="btn btn-primary" id="fullScreen">Go FullScreen</button></li>					
								<li><a href="http://ludumdare.com/compo/ludum-dare-32/?action=preview&uid=51097">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
				
				<div class="mastfoot">
					<div class="inner">
						<p>LD32 by <a href="https://github.com/GameDhim/ld32">Dhim</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>    
</body>
</html>
